node_modules

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# debug
public/debug
